In [1]:
import torch


import pandas as pd

In [2]:
student_performance_raw_dataset = pd.read_csv("Student_Performance.csv")

student_performance_raw_dataset.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [3]:
student_performance_raw_dataset.count()

Hours Studied                       10000
Previous Scores                     10000
Extracurricular Activities          10000
Sleep Hours                         10000
Sample Question Papers Practiced    10000
Performance Index                   10000
dtype: int64

In [4]:
student_performance_raw_dataset.sample(1000).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 9486 to 886
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     1000 non-null   int64
 1   Previous Scores                   1000 non-null   int64
 2   Extracurricular Activities        1000 non-null   object
 3   Sleep Hours                       1000 non-null   int64
 4   Sample Question Papers Practiced  1000 non-null   int64
 5   Performance Index                 1000 non-null   float64
dtypes: float64(1), int64(4), object(1)
memory usage: 54.7+ KB